body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    background-color:rgb(187, 243, 240);
    padding: 20px 0;
    box-shadow: 5px ;
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
    color: green;
}
h2 a {
    text-decoration: none;
    color: green;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #4CAF50;
    border-radius: 5px;
    padding: 10px;
    z-index: 999;
}

.mobile-menu li {
    margin-bottom: 10px;
}

.mobile-menu a {
    color: #fff;
    text-decoration: none;
}

/* Show Mobile Menu */
.show-mobile-menu {
    display: block;
}


nav li {
    display: inline-block;
    margin: 0 10px;
}



nav a:hover {
    background-color: #333;
}

.list {
    margin:0% 20% 0% 20% ;
    padding: 20px;
    align-content: center;
    text-align:center ;
    color: green;
}
.list div{

    border:20px #333;
    box-shadow:  10px black;
    border-radius: 5px;
    text-decoration: none;
}
.list div h1 a{
    text-decoration: none;
    color: red;

}


main {
    padding: 40px 0;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8rem;
    color: #333;
    border-bottom: 2px solid goldenrod;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: grey;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: white;
}

footer {
    background-color: rgb(19, 19, 19);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 0.9rem;
}

@keyframes pulseAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .pulse-animation {
    animation: pulseAnimation 2s infinite;
  }

/* Responsive styles */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    nav a {
        display: block;
        padding: 10px;
    }
}

